// SASS VARS

$splashHeight: 830px;
$navBarHeight: 80px;
$footerHeight: 150px;

$contEventsHeight: 450px;
$contReserveHeight: 420px;
$contFoodHeight: 450px;
$contAboutHeight: 730px;
$contMapHeight: 600px;

$contMargin: 6px;
$contWidth: 99%;

$buttonHeight:  84px;


$colorGreen: #4BA3A8;
$colorBrown: #653022;


$imagePath:    '../../imgs/';

$imageLogoHead:     'logoDeerHead2x_500x627.png';
$imageLogoMain:     'logoMain2x_1030x754.png';
$imageLogoBuilding: 'logoBuildingMain2x_Fade.png';

$imageEvents:  'photoTableSetting_900x600.jpg';
$imageReserve: 'photoRoom_490x350.jpg';
$imageFood1:   'photoFoodPlates_518x421.png';
$imageFood2:   'photoDrinks_996x740.png';
$imageAbout:   'photoCeiling_2290x846.png';
$imageMap:     'map.png';

$imageIconArrow: 'iconArrow2x_134x82.png';
$imageBed:       'iconBed_64.png';
$imageCalendar:  'iconCalendar_64.png';
$imageKey:       'iconKey_64.png';

$imageSocial_1: 'iconSocial_Facebook_128_b.png';
$imageSocial_2: 'iconSocial_GooglePlus_128_b.png';
$imageSocial_3: 'iconSocial_Instagram_128_b.png';
$imageSocial_4: 'iconSocial_Twitter_128_b.png';

// $image: '';
