// SASS VARS

$splashHeight: 830px;
$navBarHeight: 80px;
$footerHeight: 150px;

$contEventsHeight: 450px;
$contReserveHeight: 420px;
$contFoodHeight: 450px;
$contAboutHeight: 730px;
$contMapHeight: 600px;

$contMargin: 6px;
$contWidth: 99%;
