// SASS content


body {
  background-color: #fff;  // ---------  temp
  color: #000;  //            ---------  temp

}

.buttonMain {
  width:  300px; // -----------------temp
  height: $buttonHeight;
  background-color: $colorGreen;
  border: 3px solid $colorBrown;
  line-height: $buttonHeight;
  text-align: center;
  margin: auto;

}

#splash {
  background-color: red;  // ---------  temp
  width: 100%;
  height: $splashHeight;

}

#navBar {
  background-color: $colorGreen;
  width: 100%;
  height: $navBarHeight;

}

#footer {
  background-color: $colorGreen;
  width: 100%;
  height: $footerHeight;

}


//  CONTENT DIVS

.contBlock {
  width: $contWidth;
  margin: $contMargin auto;
  //  to center buttons
  display: flex;
  align-items: center;
}


#contEvents {
  height: $contEventsHeight;

  // image background
  background: url('../../imgs/photoTableSetting_900x600.jpg') no-repeat;
  background-size: cover;
  background-position: center;

}

#contReserve {
  height: $contReserveHeight;

  // image background
  background: url('../../imgs/photoRoom_490x350.jpg') no-repeat;
  background-size: cover;
  background-position: center;

}

#contFood {
  height: $contFoodHeight;
  // image background will be applied to two subdivs

  :nth-child(1) {
    width: 49.7%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 0;
    // image background
    background: url('../../imgs/photoFoodPlates_518x421.png') no-repeat;
    background-size: cover;
    background-position: center;
  }

  :nth-child(2) {
    width: 49.7%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 0;
    // image background
    background: url('../../imgs/photoDrinks_996x740.png') no-repeat;
    background-size: cover;
    background-position: center;
  }

}
// end contFood


#contAbout {
  height: $contAboutHeight;

  // image background
  background: url('../../imgs/photoCeiling_2290x846.png') no-repeat;
  background-size: cover;
  background-position: center;

}

#contMap {
  height: $contMapHeight;

  // image background
  background: url('../../imgs/map.png') no-repeat;
  background-size: cover;
  background-position: center;

}
