// SASS content


body {
  background-color: #aaaaff;
  color: #FFF;

}

// vars
$splashHeight: 830px;
$navBarHeight: 80px;
$footerHeight: 150px;

$contEventsHeight: 450px;
$contReserveHeight: 420px;
$contFoodHeight: 450px;
$contAboutHeight: 730px;
$contMapHeight: 600px;

$contMargin: 6px;
$contWidth: 99%;

#splash {
  background-color: red;
  width: 100%;
  height: $splashHeight;
  // display: inline-block;

}

#navBar {
  background-color: green;
  width: 100%;
  height: $navBarHeight;
  // display: inline-block;

}

#footer {
  background-color: blue;
  width: 100%;
  height: $footerHeight;
  // display: inline-block;

}


.contBlock {
  width: $contWidth;
  // display: inline-block;
  margin: $contMargin auto;
  text-align: center;

}



#contEvents {
  background-color: red;
  height: $contEventsHeight;
}

#contReserve {
  background-color: green;
  height: $contReserveHeight;
}

#contFood {
  background-color: blue;
  height: $contFoodHeight;
}

#contAbout {
  background-color: red;
  height: $contAboutHeight;
}

#contMap {
  background-color: green;
  height: $contMapHeight;
}
